In [40]:
import pandas as pd

# Load the India Agriculture Crop Production dataset
df = pd.read_csv('India Agriculture Crop Production.csv')
df.head(10)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003-04,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2002-03,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2003-04,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2002-03,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003-04,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

In [41]:
# Reload the data to start fresh
df = pd.read_csv('India Agriculture Crop Production.csv')

print("Original Year column:")
print(df['Year'].unique()[:10])

# Keep only the text after "-" in the Year column
df['Year'] = df['Year'].str.split('-').str[1]

print("\nAfter extracting text after '-':")
print(df['Year'].unique()[:10])

# Add "20" before the values
df['Year'] = '20' + df['Year']

print("\nAfter adding '20' prefix:")
print(df['Year'].unique()[:10])

# Display the updated dataframe
df.head(10)

Original Year column:
['2001-02' '2002-03' '2003-04' '2004-05' '2005-06' '2006-07' '2007-08'
 '2008-09' '2009-10' '2010-11']

After extracting text after '-':
['02' '03' '04' '05' '06' '07' '08' '09' '10' '11']

After adding '20' prefix:
['2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009' '2010' '2011']

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2004,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2002,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2004,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2003,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2004,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2004,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

In [42]:
# Convert Year column to datetime type
print("Before conversion:")
print(f"Data type: {df['Year'].dtype}")
print(f"Sample values: {df['Year'].unique()[:5]}")

# Convert Year column to datetime (will create dates as January 1st of each year)
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

print("\nAfter datetime conversion:")
print(f"Data type: {df['Year'].dtype}")
print(f"Sample values: {df['Year'].unique()[:10]}")

# Display the updated dataframe
print("\nDataframe info:")
print(df.info())
print("\n")
df.head(10)

Before conversion:
Data type: object
Sample values: ['2002' '2003' '2004' '2005' '2006']

After datetime conversion:
Data type: datetime64[ns]
Sample values: <DatetimeArray>
['2002-01-01 00:00:00', '2003-01-01 00:00:00', '2004-01-01 00:00:00',
 '2005-01-01 00:00:00', '2006-01-01 00:00:00', '2007-01-01 00:00:00',
 '2008-01-01 00:00:00', '2009-01-01 00:00:00', '2010-01-01 00:00:00',
 '2011-01-01 00:00:00']
Length: 10, dtype: datetime64[ns]

Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  datetime64[ns]
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             345374 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 26.4+ MB
None

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-01-01,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-01-01,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2004-01-01,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2002-01-01,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003-01-01,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2004-01-01,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2003-01-01,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2004-01-01,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003-01-01,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2004-01-01,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

In [43]:
# Convert columns to appropriate data types
print("Data types BEFORE conversion:")
print(df.dtypes)
print("\n" + "="*80 + "\n")

# Convert to string/text data type
df['State'] = df['State'].astype(str)
df['District'] = df['District'].astype(str)
df['Crop'] = df['Crop'].astype(str)
df['Season'] = df['Season'].astype(str)
df['Area Units'] = df['Area Units'].astype(str)
df['Production Units'] = df['Production Units'].astype(str)

# Convert to float data type
df['Production'] = df['Production'].astype(float)
df['Area'] = df['Area'].astype(float)
df['Yield'] = df['Yield'].astype(float)

print("Data types AFTER conversion:")
print(df.dtypes)
print("\n" + "="*80 + "\n")

print("Summary:")
print(f"✓ State, District, Crop, Season, Area Units, Production Units → string (object)")
print(f"✓ Production, Area, Yield → float64")
print(f"✓ Year → datetime64[ns]")
print("\n")

# Display sample data
df.head(10)

Data types BEFORE conversion:
State                       object
District                    object
Crop                        object
Year                datetime64[ns]
Season                      object
Area                       float64
Area Units                  object
Production                 float64
Production Units            object
Yield                      float64
dtype: object

================================================================================

Data types AFTER conversion:
State                       object
District                    object
Crop                        object
Year                datetime64[ns]
Season                      object
Area                       float64
Area Units                  object
Production                 float64
Production Units            object
Yield                      float64
dtype: object

================================================================================

Summary:
✓ State, District, Crop, Season, Area Units, Production Units → string (object)
✓ Production, Area, Yield → float64
✓ Year → datetime64[ns]

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-01-01,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-01-01,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2004-01-01,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2002-01-01,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003-01-01,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2004-01-01,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2003-01-01,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2004-01-01,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003-01-01,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2004-01-01,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

In [57]:
# Save the processed dataset to CSV file
print("Saving dataset to 'crop.csv'...")
print(f"Total rows to save: {len(df)}")
print(f"Total columns: {len(df.columns)}")
print(f"Columns: {list(df.columns)}")
print("\n")

# Save to CSV
df.to_csv('crop.csv', index=False)

print("✓ Dataset successfully saved to 'crop.csv'")
print(f"✓ File saved in: c:\\Users\\dishi\\Downloads\\crop\\crop.csv")
print(f"✓ Rows saved: {len(df)}")
print(f"✓ Year range: {df['Year'].dt.year.min()} to {df['Year'].dt.year.max()}")

Saving dataset to 'crop.csv'...
Total rows to save: 345407
Total columns: 10
Columns: ['State', 'District', 'Crop', 'Year', 'Season', 'Area', 'Area Units', 'Production', 'Production Units', 'Yield']


✓ Dataset successfully saved to 'crop.csv'
✓ File saved in: c:\Users\dishi\Downloads\crop\crop.csv
✓ Rows saved: 345407
✓ Year range: 2000 to 2099

In [45]:
import pandas as pd
b=pd.read_csv('crop.csv')

In [46]:
# List unique values in the 'State' column if present
if 'State' in b.columns:
    unique_states = b['State'].dropna().unique()
    print(f"Unique values in 'State' column ({len(unique_states)}):")
    print(sorted(unique_states))
else:
    print("No 'State' column found in the dataframe.")

Unique values in 'State' column (36):
['Andaman and Nicobar Islands', 'Andhra Pradesh', 'Arunachal Pradesh', 'Assam', 'Bihar', 'Chandigarh', 'Chhattisgarh', 'Dadra and Nagar Haveli', 'Daman and Diu', 'Delhi', 'Goa', 'Gujarat', 'Haryana', 'Himachal Pradesh', 'Jammu and Kashmir', 'Jharkhand', 'Karnataka', 'Kerala', 'Laddakh', 'Madhya Pradesh', 'Maharashtra', 'Manipur', 'Meghalaya', 'Mizoram', 'Nagaland', 'Odisha', 'Puducherry', 'Punjab', 'Rajasthan', 'Sikkim', 'Tamil Nadu', 'Telangana', 'Tripura', 'Uttar Pradesh', 'Uttarakhand', 'West Bengal']

In [47]:
# Get unique crops from the dataset
if 'Crop' in b.columns:
    unique_crops = b['Crop'].dropna().unique()
    print(f"Total unique crops: {len(unique_crops)}")
    print("\nUnique Crops (sorted):")
    print(sorted(unique_crops))
else:
    print("No 'Crop' column found in the dataframe.")

Total unique crops: 56

Unique Crops (sorted):
['Arecanut', 'Arhar/Tur', 'Bajra', 'Banana', 'Barley', 'Black pepper', 'Cardamom', 'Cashewnut', 'Castor seed', 'Coconut', 'Coriander', 'Cotton(lint)', 'Cowpea(Lobia)', 'Dry Ginger', 'Dry chillies', 'Garlic', 'Ginger', 'Gram', 'Groundnut', 'Guar seed', 'Horse-gram', 'Jowar', 'Jute', 'Khesari', 'Linseed', 'Maize', 'Masoor', 'Mesta', 'Moong(Green Gram)', 'Moth', 'Niger seed', 'Oilseeds total', 'Onion', 'Other Cereals', 'Other Kharif pulses', 'Other Rabi pulses', 'Other Summer Pulses', 'Peas & beans (Pulses)', 'Potato', 'Ragi', 'Rapeseed &Mustard', 'Rice', 'Safflower', 'Sannhamp', 'Sesamum', 'Small millets', 'Soyabean', 'Sugarcane', 'Sunflower', 'Sweet potato', 'Tapioca', 'Tobacco', 'Turmeric', 'Urad', 'Wheat', 'other oilseeds']

In [48]:
# Get unique years from the dataset
if 'Year' in b.columns:
    unique_years = b['Year'].dropna().unique()
    print(f"Total unique years: {len(unique_years)}")
    print("\nUnique Years (sorted):")
    print(sorted(unique_years))
else:
    print("No 'Year' column found in the dataframe.")

Total unique years: 24

Unique Years (sorted):
['2000-01-01', '2001-01-01', '2002-01-01', '2003-01-01', '2004-01-01', '2005-01-01', '2006-01-01', '2007-01-01', '2008-01-01', '2009-01-01', '2010-01-01', '2011-01-01', '2012-01-01', '2013-01-01', '2014-01-01', '2015-01-01', '2016-01-01', '2017-01-01', '2018-01-01', '2019-01-01', '2020-01-01', '2021-01-01', '2098-01-01', '2099-01-01']

In [49]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  object
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             345374 non-null  float64
dtypes: float64(3), object(7)
memory usage: 26.4+ MB

In [50]:
# Convert Production values to Tonnes based on Production Units
print("="*80)
print("CONVERTING PRODUCTION TO TONNES")
print("="*80)

print("\nBefore conversion:")
print(f"Total rows: {len(b)}")
print(f"Production Units distribution:")
print(b['Production Units'].value_counts())
print("\n" + "="*80 + "\n")

# Conversion factors (approximate standard conversions)
# 1 Bale of cotton ≈ 170 kg = 0.17 tonnes
# 1,000 Nuts (coconut) ≈ 1.4 tonnes (average coconut weight ~1.4 kg)

# Convert Bales to Tonnes
bales_mask = b['Production Units'] == 'Bales'
if bales_mask.sum() > 0:
    print(f"Converting {bales_mask.sum()} rows from Bales to Tonnes...")
    b.loc[bales_mask, 'Production'] = b.loc[bales_mask, 'Production'] * 0.17
    b.loc[bales_mask, 'Production Units'] = 'Tonnes'

# Convert Nuts to Tonnes (assuming per 1000 nuts)
nuts_mask = b['Production Units'] == 'Nuts'
if nuts_mask.sum() > 0:
    print(f"Converting {nuts_mask.sum()} rows from Nuts to Tonnes...")
    # Divide by 1000 to get thousands of nuts, then multiply by 1.4 kg/nut average, then divide by 1000 to get tonnes
    b.loc[nuts_mask, 'Production'] = (b.loc[nuts_mask, 'Production'] / 1000) * 1.4
    b.loc[nuts_mask, 'Production Units'] = 'Tonnes'

print("\n" + "="*80)
print("\nAfter conversion:")
print(f"Production Units distribution:")
print(b['Production Units'].value_counts())
print("\n" + "="*80)

print("\n✓ All production values converted to Tonnes")
print(f"✓ Conversion factors used: Bales=0.17t, Nuts=1.4kg/1000")

# Display sample
b.head(10)

================================================================================
CONVERTING PRODUCTION TO TONNES
================================================================================

Before conversion:
Total rows: 345407
Production Units distribution:
Production Units
Tonnes    331686
Bales      10794
Nuts        2927
Name: count, dtype: int64

================================================================================

Converting 10794 rows from Bales to Tonnes...
Converting 2927 rows from Nuts to Tonnes...

================================================================================

After conversion:
Production Units distribution:
Production Units
Tonnes    345407
Name: count, dtype: int64

================================================================================

✓ All production values converted to Tonnes
✓ Conversion factors used: Bales=0.17t, Nuts=1.4kg/1000

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-01-01,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-01-01,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2004-01-01,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2002-01-01,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003-01-01,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2004-01-01,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2003-01-01,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2004-01-01,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003-01-01,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2004-01-01,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

In [51]:
# Get unique values in Area Units column
if 'Area Units' in b.columns:
    unique_area_units = b['Area Units'].dropna().unique()
    print(f"Unique values in 'Area Units' column ({len(unique_area_units)}):")
    print(sorted(unique_area_units))
    print("\n" + "="*80)
    print("\nValue counts:")
    print(b['Area Units'].value_counts())
else:
    print("No 'Area Units' column found in the dataframe.")

Unique values in 'Area Units' column (1):
['Hectare']

================================================================================

Value counts:
Area Units
Hectare    345407
Name: count, dtype: int64

In [52]:
# Recalculate Yield for all rows where Production was converted to Tonnes
print("="*80)
print("RECALCULATING YIELD AFTER PRODUCTION UNIT CONVERSION")
print("="*80)

# Identify rows where Production Units is now 'Tonnes' (these were converted)
# Recalculate Yield = Production / Area for all rows
print(f"\nRecalculating Yield for all rows...")
print(f"Formula: Yield = Production / Area")

# Store original yield for comparison
original_yield_sample = b[['State', 'District', 'Crop', 'Year', 'Production', 'Area', 'Yield']].head(10).copy()

# Recalculate Yield
b['Yield'] = b['Production'] / b['Area']

# Display comparison
print("\n" + "="*80)
print("\nSample of recalculated data:")
print(b[['State', 'District', 'Crop', 'Year', 'Production', 'Area', 'Yield']].head(10))

print("\n" + "="*80)
print("\n✓ Yield recalculated for all rows")
print(f"✓ New Yield = Production (Tonnes) / Area (Hectare)")

# Check for any NaN or infinite values
nan_count = b['Yield'].isna().sum()
inf_count = (b['Yield'] == float('inf')).sum()
print(f"\nData quality check:")
print(f"  - NaN values in Yield: {nan_count}")
print(f"  - Infinite values in Yield: {inf_count}")

b.head(10)

================================================================================
RECALCULATING YIELD AFTER PRODUCTION UNIT CONVERSION
================================================================================

Recalculating Yield for all rows...
Formula: Yield = Production / Area

================================================================================

Sample of recalculated data:
                         State                  District      Crop  \
0  Andaman and Nicobar Islands                  NICOBARS  Arecanut
1  Andaman and Nicobar Islands                  NICOBARS  Arecanut
2  Andaman and Nicobar Islands                  NICOBARS  Arecanut
3  Andaman and Nicobar Islands  NORTH AND MIDDLE ANDAMAN  Arecanut
4  Andaman and Nicobar Islands            SOUTH ANDAMANS  Arecanut
5  Andaman and Nicobar Islands            SOUTH ANDAMANS  Arecanut
6  Andaman and Nicobar Islands                  NICOBARS    Banana
7  Andaman and Nicobar Islands                  NICOBARS    Banana
8  Andaman and Nicobar Islands            SOUTH ANDAMANS    Banana
9  Andaman and Nicobar Islands            SOUTH ANDAMANS    Banana

         Year  Production    Area     Yield
0  2002-01-01      2061.0  1254.0  1.643541
1  2003-01-01      2083.0  1258.0  1.655803
2  2004-01-01      1525.0  1261.0  1.209358
3  2002-01-01      5239.0  3100.0  1.690000
4  2003-01-01      5267.0  3105.0  1.696296
5  2004-01-01      5182.0  3118.0  1.661963
6  2003-01-01      1278.0   213.0  6.000000
7  2004-01-01      1763.0   266.0  6.627820
8  2003-01-01     10882.0  1524.0  7.140420
9  2004-01-01     11558.0  1530.0  7.554248

================================================================================

✓ Yield recalculated for all rows
✓ New Yield = Production (Tonnes) / Area (Hectare)

Data quality check:
  - NaN values in Yield: 4993
  - Infinite values in Yield: 0

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-01-01,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-01-01,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2004-01-01,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2002-01-01,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003-01-01,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2004-01-01,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2003-01-01,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2004-01-01,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003-01-01,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2004-01-01,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

In [53]:
# Get unique values in Production Units column
if 'Production Units' in b.columns:
    unique_production_units = b['Production Units'].dropna().unique()
    print(f"Unique values in 'Production Units' column ({len(unique_production_units)}):")
    print(sorted(unique_production_units))
    print("\n" + "="*80)
    print("\nValue counts:")
    print(b['Production Units'].value_counts())
else:
    print("No 'Production Units' column found in the dataframe.")

Unique values in 'Production Units' column (1):
['Tonnes']

================================================================================

Value counts:
Production Units
Tonnes    345407
Name: count, dtype: int64

In [54]:
b.to_csv('crop.csv', index=False)

In [55]:
# Get unique values in Season column
if 'Season' in b.columns:
    unique_seasons = b['Season'].dropna().unique()
    print(f"Unique values in 'Season' column ({len(unique_seasons)}):")
    print(sorted(unique_seasons))
    print("\n" + "="*80)
    print("\nValue counts:")
    print(b['Season'].value_counts())
else:
    print("No 'Season' column found in the dataframe.")

Unique values in 'Season' column (6):
['Autumn', 'Kharif', 'Rabi', 'Summer', 'Whole Year', 'Winter']

================================================================================

Value counts:
Season
Kharif        138400
Rabi          100977
Whole Year     68689
Summer         22101
Winter          8250
Autumn          6989
Name: count, dtype: int64

In [58]:
b.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  object
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             340414 non-null  float64
dtypes: float64(3), object(7)
memory usage: 26.4+ MB

In [59]:
if b['Year'].dtype == 'object':
    b['Year'] = pd.to_datetime(b['Year'], errors='coerce').dt.year

# Filter rows between 2005 and 2014 (inclusive)
filtered_df = b[(b['Year'] >= 2005) & (b['Year'] <= 2014)]

# Save filtered dataset
filtered_df.to_csv("crop.csv", index=False)

print("✅ Filter applied successfully!")
print(f"Rows before filtering: {len(b)}")
print(f"Rows after filtering:  {len(filtered_df)}")

✅ Filter applied successfully!
Rows before filtering: 345407
Rows after filtering:  150542

In [60]:
# Get unique seasons from the dataset
if 'Season' in b.columns:
    unique_seasons = b['Season'].dropna().unique()
    print(f"Total unique seasons: {len(unique_seasons)}")
    print("\nUnique Seasons (sorted):")
    print(sorted(unique_seasons))
else:
    print("No 'Season' column found in the dataframe.")

Total unique seasons: 6

Unique Seasons (sorted):
['Autumn', 'Kharif', 'Rabi', 'Summer', 'Whole Year', 'Winter']