In [7]:
import pandas as pd

# Load the India Agriculture Crop Production dataset
df = pd.read_csv('India Agriculture Crop Production.csv')
df.head(10)

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2001-02,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-03,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-04,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2001-02,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2002-03,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003-04,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2002-03,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2003-04,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2002-03,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003-04,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

In [19]:
# Reload the data to start fresh
df = pd.read_csv('India Agriculture Crop Production.csv')

print("Original Year column:")
print(df['Year'].unique()[:10])

# Keep only the text after "-" in the Year column
df['Year'] = df['Year'].str.split('-').str[1]

print("\nAfter extracting text after '-':")
print(df['Year'].unique()[:10])

# Add "20" before the values
df['Year'] = '20' + df['Year']

print("\nAfter adding '20' prefix:")
print(df['Year'].unique()[:10])

# Display the updated dataframe
df.head(10)

Original Year column:
['2001-02' '2002-03' '2003-04' '2004-05' '2005-06' '2006-07' '2007-08'
 '2008-09' '2009-10' '2010-11']

After extracting text after '-':
['02' '03' '04' '05' '06' '07' '08' '09' '10' '11']

After adding '20' prefix:
['2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009' '2010' '2011']

After extracting text after '-':
['02' '03' '04' '05' '06' '07' '08' '09' '10' '11']

After adding '20' prefix:
['2002' '2003' '2004' '2005' '2006' '2007' '2008' '2009' '2010' '2011']

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2004,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2002,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2004,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2003,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2004,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2004,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

In [25]:
# Convert Year column to datetime type
print("Before conversion:")
print(f"Data type: {df['Year'].dtype}")
print(f"Sample values: {df['Year'].unique()[:5]}")

# Convert Year column to datetime (will create dates as January 1st of each year)
df['Year'] = pd.to_datetime(df['Year'], format='%Y')

print("\nAfter datetime conversion:")
print(f"Data type: {df['Year'].dtype}")
print(f"Sample values: {df['Year'].unique()[:10]}")

# Display the updated dataframe
print("\nDataframe info:")
print(df.info())
print("\n")
df.head(10)

Before conversion:
Data type: int32
Sample values: [2002 2003 2004 2005 2006]

After datetime conversion:
Data type: datetime64[ns]
Sample values: <DatetimeArray>
['2002-01-01 00:00:00', '2003-01-01 00:00:00', '2004-01-01 00:00:00',
 '2005-01-01 00:00:00', '2006-01-01 00:00:00', '2007-01-01 00:00:00',
 '2008-01-01 00:00:00', '2009-01-01 00:00:00', '2010-01-01 00:00:00',
 '2011-01-01 00:00:00']
Length: 10, dtype: datetime64[ns]

Dataframe info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 345407 entries, 0 to 345406
Data columns (total 10 columns):
 #   Column            Non-Null Count   Dtype
---  ------            --------------   -----
 0   State             345407 non-null  object
 1   District          345407 non-null  object
 2   Crop              345375 non-null  object
 3   Year              345407 non-null  datetime64[ns]
 4   Season            345406 non-null  object
 5   Area              345374 non-null  float64
 6   Area Units        345407 non-null  object
 7   Production        340414 non-null  float64
 8   Production Units  345407 non-null  object
 9   Yield             345374 non-null  float64
dtypes: datetime64[ns](1), float64(3), object(6)
memory usage: 26.4+ MB
None

,State,District,Crop,Year,Season,Area,Area Units,Production,Production Units,Yield
0,Andaman and Nicobar Islands,NICOBARS,Arecanut,2002-01-01,Kharif,1254.0,Hectare,2061.0,Tonnes,1.643541
1,Andaman and Nicobar Islands,NICOBARS,Arecanut,2003-01-01,Whole Year,1258.0,Hectare,2083.0,Tonnes,1.655803
2,Andaman and Nicobar Islands,NICOBARS,Arecanut,2004-01-01,Whole Year,1261.0,Hectare,1525.0,Tonnes,1.209358
3,Andaman and Nicobar Islands,NORTH AND MIDDLE ANDAMAN,Arecanut,2002-01-01,Kharif,3100.0,Hectare,5239.0,Tonnes,1.690000
4,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2003-01-01,Whole Year,3105.0,Hectare,5267.0,Tonnes,1.696296
5,Andaman and Nicobar Islands,SOUTH ANDAMANS,Arecanut,2004-01-01,Whole Year,3118.0,Hectare,5182.0,Tonnes,1.661963
6,Andaman and Nicobar Islands,NICOBARS,Banana,2003-01-01,Whole Year,213.0,Hectare,1278.0,Tonnes,6.000000
7,Andaman and Nicobar Islands,NICOBARS,Banana,2004-01-01,Whole Year,266.0,Hectare,1763.0,Tonnes,6.627820
8,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2003-01-01,Whole Year,1524.0,Hectare,10882.0,Tonnes,7.140420
9,Andaman and Nicobar Islands,SOUTH ANDAMANS,Banana,2004-01-01,Whole Year,1530.0,Hectare,11558.0,Tonnes,7.554248

Saving dataset to 'crop.csv'...
Total rows to save: 150542
Total columns: 10
Columns: ['State', 'District', 'Crop', 'Year', 'Season', 'Area', 'Area Units', 'Production', 'Production Units', 'Yield']


✓ Dataset successfully saved to 'crop.csv'
✓ File saved in: c:\Users\dishi\Downloads\crop\crop.csv
✓ Rows saved: 150542
✓ Year range: 2005 to 2014
✓ Dataset successfully saved to 'crop.csv'
✓ File saved in: c:\Users\dishi\Downloads\crop\crop.csv
✓ Rows saved: 150542
✓ Year range: 2005 to 2014